@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --color: green;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E3E3;
    color: #727272;
}

.top {
    position: relative;
}

.titre {
    color: white;
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 2;
}

img {
    width: 100%;
}

.row,
.categ {
    display: flex;
}

.categ>p {
    width: 10%;
    text-align: center;
}

.left {
    width: 30%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.categ {
    margin: 1em 0;
    padding: 1em 0;
}

.icon {
    text-align: center;
}

.text {
    margin-left: 2em;
}

.sidebar {
    position: relative;
    top: -5px;
    display: block;
    height: 100%;
    background-color: var(--color);
    color: white;
    padding: 2em;
    word-break: normal;
    overflow: hidden;
}

.sidebar img {
    width: 17%;
}

.bloc {
    display: block;
    background-color: #FFFFFF;
    margin: 4em;
    padding: 4em;
}

.right {
    width: 100%;
}

.icons {
    padding: 2em 0;
}

.icons small {
    color: var(--color);
}

.icons:last-child {
    padding-bottom: 0;
}

.icons:not(:last-child) {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.text-center {
    text-align: center;
}

.justify-sb {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
}

.customIcon {
    width: 40px;
    opacity: 60%;
    transition: 0.3s;
}

.customIcon:hover {
    transform: scale(1.2);
}

ul {
    margin-left: 1em;
}